.amazon .cg-wrap piece.a-piece.white {
  background-image: url('images/pieces/amazon/wA.svg');
}
.amazon .cg-wrap piece.pa-piece.white {
  background-image: url('images/pieces/merida/w+A.svg');
}
.amazon .cg-wrap piece.b-piece.white {
  background-image: url('images/pieces/merida/wB.svg');
}
.amazon .cg-wrap piece.pb-piece.white {
  background-image: url('images/pieces/merida/w+B.svg');
}
.amazon .cg-wrap piece.c-piece.white {
  background-image: url('images/pieces/merida/wC.svg');
}
.amazon .cg-wrap piece.pc-piece.white {
  background-image: url('images/pieces/merida/w+C.svg');
}
.amazon .cg-wrap piece.d-piece.white {
  background-image: url('images/pieces/merida/wD.svg');
}
.amazon .cg-wrap piece.pd-piece.white {
  background-image: url('images/pieces/merida/w+D.svg');
}
.amazon .cg-wrap piece.e-piece.white {
  background-image: url('images/pieces/merida/wE.svg');
}
.amazon .cg-wrap piece.pe-piece.white {
  background-image: url('images/pieces/merida/w+E.svg');
}
.amazon .cg-wrap piece.f-piece.white {
  background-image: url('images/pieces/merida/wF.svg');
}
.amazon .cg-wrap piece.pf-piece.white {
  background-image: url('images/pieces/merida/w+F.svg');
}
.amazon .cg-wrap piece.g-piece.white {
  background-image: url('images/pieces/merida/wG.svg');
}
.amazon .cg-wrap piece.pg-piece.white {
  background-image: url('images/pieces/merida/w+G.svg');
}
.amazon .cg-wrap piece.h-piece.white {
  background-image: url('images/pieces/merida/wH.svg');
}
.amazon .cg-wrap piece.ph-piece.white {
  background-image: url('images/pieces/merida/w+H.svg');
}
.amazon .cg-wrap piece.i-piece.white {
  background-image: url('images/pieces/merida/wI.svg');
}
.amazon .cg-wrap piece.pi-piece.white {
  background-image: url('images/pieces/merida/w+I.svg');
}
.amazon .cg-wrap piece.j-piece.white {
  background-image: url('images/pieces/merida/wJ.svg');
}
.amazon .cg-wrap piece.pj-piece.white {
  background-image: url('images/pieces/merida/w+J.svg');
}
.amazon .cg-wrap piece.k-piece.white {
  background-image: url('images/pieces/merida/wK.svg');
}
.amazon .cg-wrap piece.pk-piece.white {
  background-image: url('images/pieces/merida/w+K.svg');
}
.amazon .cg-wrap piece.l-piece.white {
  background-image: url('images/pieces/merida/wL.svg');
}
.amazon .cg-wrap piece.pl-piece.white {
  background-image: url('images/pieces/merida/w+L.svg');
}
.amazon .cg-wrap piece.m-piece.white {
  background-image: url('images/pieces/merida/wM.svg');
}
.amazon .cg-wrap piece.pm-piece.white {
  background-image: url('images/pieces/merida/w+M.svg');
}
.amazon .cg-wrap piece.n-piece.white {
  background-image: url('images/pieces/merida/wN.svg');
}
.amazon .cg-wrap piece.pn-piece.white {
  background-image: url('images/pieces/merida/w+N.svg');
}
.amazon .cg-wrap piece.o-piece.white {
  background-image: url('images/pieces/merida/wO.svg');
}
.amazon .cg-wrap piece.po-piece.white {
  background-image: url('images/pieces/merida/w+O.svg');
}
.amazon .cg-wrap piece.p-piece.white {
  background-image: url('images/pieces/merida/wP.svg');
}
.amazon .cg-wrap piece.pp-piece.white {
  background-image: url('images/pieces/merida/w+P.svg');
}
.amazon .cg-wrap piece.q-piece.white {
  background-image: url('images/pieces/merida/wQ.svg');
}
.amazon .cg-wrap piece.pq-piece.white {
  background-image: url('images/pieces/merida/w+Q.svg');
}
.amazon .cg-wrap piece.r-piece.white {
  background-image: url('images/pieces/merida/wR.svg');
}
.amazon .cg-wrap piece.pr-piece.white {
  background-image: url('images/pieces/merida/w+R.svg');
}
.amazon .cg-wrap piece.s-piece.white {
  background-image: url('images/pieces/merida/wS.svg');
}
.amazon .cg-wrap piece.ps-piece.white {
  background-image: url('images/pieces/merida/w+S.svg');
}
.amazon .cg-wrap piece.t-piece.white {
  background-image: url('images/pieces/merida/wT.svg');
}
.amazon .cg-wrap piece.pt-piece.white {
  background-image: url('images/pieces/merida/w+T.svg');
}
.amazon .cg-wrap piece.u-piece.white {
  background-image: url('images/pieces/merida/wU.svg');
}
.amazon .cg-wrap piece.pu-piece.white {
  background-image: url('images/pieces/merida/w+U.svg');
}
.amazon .cg-wrap piece.v-piece.white {
  background-image: url('images/pieces/merida/wV.svg');
}
.amazon .cg-wrap piece.pv-piece.white {
  background-image: url('images/pieces/merida/w+V.svg');
}
.amazon .cg-wrap piece.w-piece.white {
  background-image: url('images/pieces/merida/wW.svg');
}
.amazon .cg-wrap piece.pw-piece.white {
  background-image: url('images/pieces/merida/w+W.svg');
}
.amazon .cg-wrap piece.x-piece.white {
  background-image: url('images/pieces/merida/wX.svg');
}
.amazon .cg-wrap piece.px-piece.white {
  background-image: url('images/pieces/merida/w+X.svg');
}
.amazon .cg-wrap piece.y-piece.white {
  background-image: url('images/pieces/merida/wY.svg');
}
.amazon .cg-wrap piece.py-piece.white {
  background-image: url('images/pieces/merida/w+Y.svg');
}
.amazon .cg-wrap piece.z-piece.white {
  background-image: url('images/pieces/merida/wZ.svg');
}
.amazon .cg-wrap piece.pz-piece.white {
  background-image: url('images/pieces/merida/w+Z.svg');
}

.amazon .cg-wrap piece.a-piece.black {
  background-image: url('images/pieces/amazon/bA.svg');
}
.amazon .cg-wrap piece.pa-piece.black {
  background-image: url('images/pieces/merida/b+A.svg');
}
.amazon .cg-wrap piece.b-piece.black {
  background-image: url('images/pieces/merida/bB.svg');
}
.amazon .cg-wrap piece.pb-piece.black {
  background-image: url('images/pieces/merida/b+B.svg');
}
.amazon .cg-wrap piece.c-piece.black {
  background-image: url('images/pieces/merida/bC.svg');
}
.amazon .cg-wrap piece.pc-piece.black {
  background-image: url('images/pieces/merida/b+C.svg');
}
.amazon .cg-wrap piece.d-piece.black {
  background-image: url('images/pieces/merida/bD.svg');
}
.amazon .cg-wrap piece.pd-piece.black {
  background-image: url('images/pieces/merida/b+D.svg');
}
.amazon .cg-wrap piece.e-piece.black {
  background-image: url('images/pieces/merida/bE.svg');
}
.amazon .cg-wrap piece.pe-piece.black {
  background-image: url('images/pieces/merida/b+E.svg');
}
.amazon .cg-wrap piece.f-piece.black {
  background-image: url('images/pieces/merida/bF.svg');
}
.amazon .cg-wrap piece.pf-piece.black {
  background-image: url('images/pieces/merida/b+F.svg');
}
.amazon .cg-wrap piece.g-piece.black {
  background-image: url('images/pieces/merida/bG.svg');
}
.amazon .cg-wrap piece.pg-piece.black {
  background-image: url('images/pieces/merida/b+G.svg');
}
.amazon .cg-wrap piece.h-piece.black {
  background-image: url('images/pieces/merida/bH.svg');
}
.amazon .cg-wrap piece.ph-piece.black {
  background-image: url('images/pieces/merida/b+H.svg');
}
.amazon .cg-wrap piece.i-piece.black {
  background-image: url('images/pieces/merida/bI.svg');
}
.amazon .cg-wrap piece.pi-piece.black {
  background-image: url('images/pieces/merida/b+I.svg');
}
.amazon .cg-wrap piece.j-piece.black {
  background-image: url('images/pieces/merida/bJ.svg');
}
.amazon .cg-wrap piece.pj-piece.black {
  background-image: url('images/pieces/merida/b+J.svg');
}
.amazon .cg-wrap piece.k-piece.black {
  background-image: url('images/pieces/merida/bK.svg');
}
.amazon .cg-wrap piece.pk-piece.black {
  background-image: url('images/pieces/merida/b+K.svg');
}
.amazon .cg-wrap piece.l-piece.black {
  background-image: url('images/pieces/merida/bL.svg');
}
.amazon .cg-wrap piece.pl-piece.black {
  background-image: url('images/pieces/merida/b+L.svg');
}
.amazon .cg-wrap piece.m-piece.black {
  background-image: url('images/pieces/merida/bM.svg');
}
.amazon .cg-wrap piece.pm-piece.black {
  background-image: url('images/pieces/merida/b+M.svg');
}
.amazon .cg-wrap piece.n-piece.black {
  background-image: url('images/pieces/merida/bN.svg');
}
.amazon .cg-wrap piece.pn-piece.black {
  background-image: url('images/pieces/merida/b+N.svg');
}
.amazon .cg-wrap piece.o-piece.black {
  background-image: url('images/pieces/merida/bO.svg');
}
.amazon .cg-wrap piece.po-piece.black {
  background-image: url('images/pieces/merida/b+O.svg');
}
.amazon .cg-wrap piece.p-piece.black {
  background-image: url('images/pieces/merida/bP.svg');
}
.amazon .cg-wrap piece.pp-piece.black {
  background-image: url('images/pieces/merida/b+P.svg');
}
.amazon .cg-wrap piece.q-piece.black {
  background-image: url('images/pieces/merida/bQ.svg');
}
.amazon .cg-wrap piece.pq-piece.black {
  background-image: url('images/pieces/merida/b+Q.svg');
}
.amazon .cg-wrap piece.r-piece.black {
  background-image: url('images/pieces/merida/bR.svg');
}
.amazon .cg-wrap piece.pr-piece.black {
  background-image: url('images/pieces/merida/b+R.svg');
}
.amazon .cg-wrap piece.s-piece.black {
  background-image: url('images/pieces/merida/bS.svg');
}
.amazon .cg-wrap piece.ps-piece.black {
  background-image: url('images/pieces/merida/b+S.svg');
}
.amazon .cg-wrap piece.t-piece.black {
  background-image: url('images/pieces/merida/bT.svg');
}
.amazon .cg-wrap piece.pt-piece.black {
  background-image: url('images/pieces/merida/b+T.svg');
}
.amazon .cg-wrap piece.u-piece.black {
  background-image: url('images/pieces/merida/bU.svg');
}
.amazon .cg-wrap piece.pu-piece.black {
  background-image: url('images/pieces/merida/b+U.svg');
}
.amazon .cg-wrap piece.v-piece.black {
  background-image: url('images/pieces/merida/bV.svg');
}
.amazon .cg-wrap piece.pv-piece.black {
  background-image: url('images/pieces/merida/b+V.svg');
}
.amazon .cg-wrap piece.w-piece.black {
  background-image: url('images/pieces/merida/bW.svg');
}
.amazon .cg-wrap piece.pw-piece.black {
  background-image: url('images/pieces/merida/b+W.svg');
}
.amazon .cg-wrap piece.x-piece.black {
  background-image: url('images/pieces/merida/bX.svg');
}
.amazon .cg-wrap piece.px-piece.black {
  background-image: url('images/pieces/merida/b+X.svg');
}
.amazon .cg-wrap piece.y-piece.black {
  background-image: url('images/pieces/merida/bY.svg');
}
.amazon .cg-wrap piece.py-piece.black {
  background-image: url('images/pieces/merida/b+Y.svg');
}
.amazon .cg-wrap piece.z-piece.black {
  background-image: url('images/pieces/merida/bZ.svg');
}
.amazon .cg-wrap piece.pz-piece.black {
  background-image: url('images/pieces/merida/b+Z.svg');
}

.amazon .cg-wrap piece._-piece {
  background-image: url('images/wallsquare/barrier.svg');
}
